{% extends 'cheap_pints/base.html' %}
{% load staticfiles %}
{% comment %} Add custom filters for form CSS below {% endcomment %}

{% comment %} Include CSS and JS specific to this page (selectize.js / add_meal) {% endcomment %}

{% comment %} Page Title {% endcomment %}
{% block title_block %}
Add Bar
{% endblock %}

{% comment %} Page Header {% endcomment %}
{% block header_block %}
Add New Bar
{% endblock %}

{% block body_block %}

{% comment %} Form encapsulates whole view. Responsive layout. {% endcomment %}
<form id="new_bar_form" enctype="multipart/form-data" method="post"
    action="">

    <div class="row">
        {% comment %} Form on left, except Image {% endcomment %}
        <div class="col-12 col-md-8">
            <h2 class="pb-2 my-4 mx-2 border-bottom">
                Information
            </h2>
            {% csrf_token %}
            {% for hidden in BarForm.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <br>
            <div>
                {{ BarForm.barName.label }}
                {{ BarForm.barName.errors }}
                {{ BarForm.barName }}
            </div>
            <br>
            <div>
                {{ BeerForm.BeerName.label }}
                {{ BeerForm.BeerName.errors }}
                {{ BeerForm.BeerName }}
            </div>
            <br>
            <div>
                {{ BeerForm.BeerBrand.label }}
                {{ BeerForm.BeerBrand.errors }}
                {{ BeerForm.BeerBrand }}
            </div>
            <br>
            <div>
                {{ PintPriceForm.price.label }}
                {{ PintPriceForm.price.errors }}
                {{ PintPriceForm.price_unit }}
                {{ PintPriceForm.price }}
            </div>
        </div>

    </div>

    {% comment %} Buttons for form - Again, heavily reliant on JS {% endcomment %}
    <div class="row my-4">
    {% comment %} <div class="col-12 col-md-6"/> {% endcomment %}
    <div class="col-6 col-md-6 align-center">
        <input id="submit" class="btn btn-lg btn-block btn-primary" type="submit" name="submit" value="Add Bar" disabled />
        </div>
    </div>
    <style>
    input[id=id_barName] {
            width: 300px;
        }
    input[id=id_price_unit] {
            width: 25px;
        }
    </style>

</form>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBriJsnGZXUppVFg-q7cr2VpqHRmm7kczM&libraries=places&callback=initAutocomplete"
                async defer></script>
<script>
var autocomplete;

function initAutocomplete() {
   autocomplete = new google.maps.places.Autocomplete((document.getElementById('id_barName')),
          {types: ['establishment']}
   );
   autocomplete.setFields(
            ['place_id','name','photos']);

autocomplete.addListener('place_changed', function() {
          var place = autocomplete.getPlace();
          if (!place.name) {
            // User entered the name of a Place that was not suggested and
            // pressed the Enter key, or the Place Details request failed.
            window.alert("No details available for input: '" + place.name + "'");
            return;
          }
          // If the place has a geometry, then present it on a map.
          var id = place.place_id
          var name = place.name;
          console.log(place.photos);
          name = name.split(',')[0]
          document.getElementById('id_barName').value=name;
          document.getElementById('id_googleId').value=id;
          document.getElementById("submit").disabled = false;
})
}


</script>

{% endblock %}