{% extends 'base.html' %}
{% load staticfiles %}

{% comment %} Page Title {% endcomment %}
{% block title_block %}
Add Bar
{% endblock %}
{% block js %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=places&callback=initAutocomplete"async defer></script>
<script src="{% static 'js/add_bar.js' %}"></script>

{% endblock %}
{% comment %} Page Header {% endcomment %}
{% block header_block %}
Add New Bar
{% endblock %}

{% block content %}

{% comment %} Form encapsulates whole view. Responsive layout. {% endcomment %}
<form id="new_bar_form" enctype="multipart/form-data" method="post"
    action="">

    <div class="row">
        {% comment %} Form on left, except Image {% endcomment %}
        <div class="col-12 col-md-8">
            <h2 class="pb-2 my-4 mx-2 border-bottom">
                Information
            </h2>
            {% csrf_token %}
            {% for hidden in BarForm.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <br>
            <div>
                {{ BarForm.barName.label }}
                {{ BarForm.barName.errors }}
                {{ BarForm.barName }}
            </div>
            </br>
            <div>
                {{ CityForm.city.label }}
                {{ CityForm.city.errors }}
                {{ CityForm.city }}
            </div>
            <br>
            <div>
                {{ BeerForm.BeerName.label }}
                {{ BeerForm.BeerName.errors }}
                {{ BeerForm.BeerName }}
            </div>
            <br>
            <div>
                {{ BeerForm.BeerBrand.label }}
                {{ BeerForm.BeerBrand.errors }}
                {{ BeerForm.BeerBrand }}
            </div>
            <br>
            <div>
                {{ PintPriceForm.price.label }}
                {{ PintPriceForm.price.errors }}
                {{ PintPriceForm.price_unit }}
                {{ PintPriceForm.price }}
            </div>
        </div>

    </div>

    {% comment %} Buttons for form - Again, heavily reliant on JS {% endcomment %}
    <div class="row my-4">
    {% comment %} <div class="col-12 col-md-6"/> {% endcomment %}
    <div class="col-6 col-md-6 align-center">
        <input id="submit" class="btn btn-lg btn-block btn-primary" type="submit" name="submit" value="Add Bar" disabled />
        </div>
    </div>
    <style>
    input[id=id_barName] {
            width: 300px;
        }
    input[id=id_price_unit] {
            width: 25px;
        }
    </style>

</form>
{% endblock %}