{% extends 'cheap_pints/base.html' %}
{% load staticfiles %}

{% comment %} Include CSS and JS specific to this page (selectize.js / add_meal) {% endcomment %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/selectize.js/selectize.css' %}">
<link rel="stylesheet" href="{% static 'css/selectize.js/selectize.bootstrap3.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/selectize.js/selectize.min.js' %}"></script>
<script>
</script>
{% endblock %}

{% block title_block %}
Bars Near Me
{% endblock %}

{% block header_block %}
Bars Near Me
{% endblock %}

{% block body_block %}

{% comment %} If the bars exist, display everything {% endcomment %}
{% if bars %}
<div class="row">
    <div class="col-xs-12 col-md-8 order-1 order-md-2">
        <div class="row">
            {% for bar in bars %}
            <div class="col-6 col-lg-4 mb-4">
                <div class="card-deck">
                    {% comment %} <a class="card-link" href="{% url 'macro_mate:meal' %}{{meal.id}}"> {% endcomment %}
                        <div class="card">
                            <img class="card-img-top"
                                src="{% if bar.image %}{{MEDIA_URL}}{{bar.image}}{% else %}{% static 'images/placeholder.png' %}{% endif %}"
                                alt="{{bar.barName}} image">
                            <div class="card-body">
                                <h3 class="h5 card-title">{{bar.barName}}</h3>
                                <p class="card-text">Pint Price: {{bar.price_unit}}{{bar.price}}</p>
                                <div>
                                    <span class="badge badge-info">{{price}}</span>
                                </div>
                                <p class="card-text"><small class="text-muted">Last updated
                                        {{bar.created_date}}</small>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% else %}
{% comment %} If the user doesn't have meals, prompt a message {% endcomment %}
<p>no prices added near you yet! </p>
{% endif %}



{% endblock %}