{% extends 'cheap_pints/base.html' %}
{% load staticfiles %}
{% block js %}
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/bars.css' %}">
{% endblock %}

{% block title_block %}
Bars Near Me
{% endblock %}

{% block header_block %}
{{ search_type }}
{% endblock %}

{% block body_block %}

{% comment %} If the bars exist, display everything {% endcomment %}
{% if PintPrices %}
<div class="row bg-dark">
    <div class="col-xs-12 col-md-8 order-1 order-md-2">
        <div class="row">
            {% for PintPrice in PintPrices %}
            <div class="col-6 col-lg-4 mb-4">
                <div class="card-deck">
                    <a class="card-link" href="{% url 'cheap_pints:bar' id=PintPrice.bar.googleId %}"/>
                        <div class="card">
                            <h3 class="h5 card-header">{{ PintPrice.bar.barName }}</h3>
                            <img class="card-img-top"
                                {% if PintPrice.bar.image_reference %}
                                src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{ PintPrice.bar.image_reference }}&key={{ api_key }}"
                                {% else %}
                                src="https://cdn.pixabay.com/photo/2017/05/05/19/33/beer-2288121_1280.jpg"
                                {% endif %}/>
                            <div class="card-body">
                                <h5 class="card-text">Pint Price: {{ PintPrice.price_unit_verbose }}{{PintPrice.price |floatformat:2 }}</h5>
                                <p class="card-text">Beer: {{ PintPrice.beer.BeerName }}</p>
                                <div>
                                    <span class="badge badge-info">{{price}}</span>
                                </div>
                                <p class="card-text"><small class="text-muted">Last updated
                                        {{PintPrice.created_date}}</small>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% else %}
{% comment %} If the user doesn't have meals, prompt a message {% endcomment %}
<p>no prices added near you yet! </p>
{% endif %}



{% endblock %}